[submodule "panda"]
	path = panda
	url = ../../Edison-CBS/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../Edison-CBS/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../Edison-CBS/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../Edison-CBS/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../Edison-CBS/rednose.git
